
  <li id="comment_<%= comment.id%>">
  <%= comment.content %>
  <%= link_to "删除", topic_comment_path(topic_id: @topic.id, id: comment.id, format: "json"), :method => 'delete', class: "del_button", id: "del_#{comment.id}", remote: true%>
  </li> 
