<h1 class="center">欢迎来到主页面！</h1>

    <div class="nav"> 
      <div class="nav-con divide nav-w155"> 
        <b><a href=''>jjjj</a></b>
        <a href=''>hhhh</a> 
        <a href=''>kkkk</a>
        <a href=''>qqqq</a>
      </div> 

      <div class="nav-con divide nav-w155"> 
        <b><a href=''>kkkk</a></b>
        <a href=''>iiii</a> 
        <a href=''>qqqq</a>
        <a href=''>qqqq</a>
      </div> 

      <div class="nav-con divide nav-w155"> 
        <b><a href=''>kkkk</a></b>
        <a href=''>iiii</a> 
        <a href=''>qqqq</a>
        <a href=''>qqqq</a>
      </div> 

      <div class="nav-con-b nav-w240"> 
        <b><a href=''>kkkk</a></b>
        <a href=''>iiii</a> 
        <a href=''>qqqq</a>
        <a href=''>qqqq</a>
        <a href=''>qqqq</a>
      </div> 

    </div> 
