<p>您好 <%= @resource.email %>!</p>

<p>可以通过下面的链接改变你的密码</p> 

<p><%= link_to '改变我的密码', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>如果你没有请求,请忽略此邮件。</p> 
<p>访问上面的链接和创建一个新的密码。</p> 
