<h3><%= @klass.klass_name%>的所有教师</h3>
<%= link_to '返回',klasses_path%>
<%= link_to '添加老师',new_teacher_klass_teachers_path(:klass_id => @klass.id)%>
<table> 

  <thead> 
    <tr> 
      <th> 教师名称 </th> 
    </tr>    
  </thead> 

  <tbody> 
    <% @teachers.each do |teacher| %>
      <tr>
        <td><%= teacher.name %></td>
      </tr>
    <% end %>
  </tbody>

</table> 
